@font-face {
  font-family: 'MullerMedium';
  src: url('../fonts/MullerMedium.eot');
  src: url('../fonts/MullerMedium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MullerMedium.woff') format('woff'),
  url('../fonts/MullerMedium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

  @font-face {
    font-family: 'MullerBold';
    src: url('../fonts/MullerBold.eot');
    src: url('../fonts/MullerBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MullerBold.woff') format('woff'),
    url('../fonts/MullerBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

 @mixin Medium {
  font-family: 'MullerMedium', sans-serif;
 }

 @mixin Bold {
  font-family: 'MullerBold', sans-serif;
 }