*
  box-sizing: border-box

.section
  width: 100%
  padding: 80px 0
  position: relative

.section-title
  +Bold
  font-size: 32px
  text-transform: uppercase
  text-align: center
  color: $color-back

.container
  position: relative
  max-width: 1170px
  margin: auto
  padding: 0 15px


@media (max-width: 991px)
  .section
    &-title
      

@media (max-width: 575px)
  .section
    padding: 60px 0
    &-title
      font-size: 26px
  .container
    padding: 0 10px