.news
  background-color: #ffffff
  .reg-line-color
    margin-top: 26px
    margin-bottom: 13px
    &-lighten
      width: 70px
      height: 4px
      background-color: lighten(#fcac45,10%)
      margin: auto
      margin-bottom: 50px
  &-wrap
    display: flex
    justify-content: space-around
    flex-wrap: wrap
  &-item
    display: flex
    &:nth-child(1), &:nth-child(2), &:nth-child(3),&:nth-child(4)
      margin-bottom: 100px
  &-img
    display: block
    width: 240px
    height: 174px
    object-fit: contain